@import url(./variables.css);

.home-page {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 1200px;
    width: 100vw;

    header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.75rem;

        /* Title and logo styles */

        .nav-title {
            display: flex;
            align-items: center;
            gap: 1rem;

            h1 {
                font-size: var(--title-mobile-tablet);
                color: var(--background);
            }

            .pokeball-img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;

                img {
                    width: 100%;
                }
            }
        }

        /* input and filter styles  */
        .input-filter-container {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;

            .input-wrapper {
                width: 100%;

                input {
                    border-radius: 2rem;
                    outline: none;
                    border: none;
                    padding: 0.3rem 0.8rem;
                    width: 100%;
                    box-shadow: inset 1px 1px 5px darkgray;
                }
            }

            .input-error-container {
                text-align: center;
                font-size: 12px;
                color: var(--white);
            }

            .filter-container {
                /* height: 25px; */
                background-color: var(--white);
                border-radius: 2rem;
                font-size: var(--first-body-mobile-tablet);
                padding: 0.3rem 0.8rem;
                box-shadow: inset 1px 1px 5px darkgray;
                align-self: flex-start;

                select {
                    border: none;
                    outline: none;
                }

            }
        }
    }

    .pokemon-list {
        background-color: var(--background);
        border-radius: 0.5rem;
        padding: 1rem 0.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 0.5rem;

        .pokemon-card {
            background-color: var(--background);
            width: 100%;
            /* height: 120px; */
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0.5rem;
            overflow: hidden;
            box-shadow: 1px 1px 5px darkgray;

            .pokemon-img-card {
                width: 100%;
                position: relative;
                z-index: 200;

                img {
                    width: 100%;
                }
            }

            p {
                text-transform: capitalize;
                font-weight: bold;
                margin-bottom: 0.5rem;
                position: relative;
                z-index: 300;
            }

            a {
                text-decoration: none;
                color: var(--black);
                text-align: center;
                font-size: var(--second-body-mobile-tablet);
            }

            .bg-decoration {
                background-color: var(--light-gray);
                width: 100%;
                height: 45%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 0;
                border-radius: 0.5rem;
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        list-style: none;
        gap: 0.8rem;

        li {
            cursor: pointer;
        }
    }

}

@media (width >=500px) {
    .home-page {
        header {
            flex-direction: row;

            .input-filter-container {
                justify-content: center;
            }
        }

        .pokemon-list {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

            .pokemon-card {
                p {
                    font-size: var(--first-body-mobile-tablet);
                }
            }
        }
    }
}

@media (width >=750px) {
    .home-page {
        header {
            flex-direction: row;

            .input-filter-container {
                justify-content: flex-end;
            }
        }
    }
}

@media (width >=900px) {
    .home-page {
        header {
            .nav-title {
                h1 {
                    font-size: var(--title-desktop);
                }

                .pokeball-img {
                    width: 32px;
                }
            }

            .input-filter-container {
                .input-wrapper {
                    input {
                        font-size: var(--first-body-desktop);
                    }
                }

                .input-error-container {
                    font-size: var(--second-body-desktop);
                }

                .filter-container {
                    select {
                        font-size: var(--first-body-desktop);
                    }
                }
            }
        }

        .pokemon-list {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        }

        .pagination {
            font-size: 18px;
        }
    }
}