@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    background-color: var(--primary);
}

.app {
    background-origin: var(--primary);
    min-height: 100vh;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-screen,
.error-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .pokeball-img-screen {
        animation: rotateBall infinite 1s linear;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;

        img {
            width: 100%;
        }
    }

    p {
        font-size: var(--title-mobile-tablet);
        color: var(--white);
        text-align: center;
        padding: 0 1rem;
    }
}

@keyframes rotateBall {
    0% {
        transform: rotate(0deg);
    }

    /* 
    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    } */

    100% {
        transform: rotate(360deg);
    }
}